*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    // border: red 1px solid;
}
body{
    overflow-x: hidden;
    // perspective: 1000px;
}
main{
	padding-top: 120px;
    @media (max-width:1180px) {
        padding-top: 60px;
    }
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

text {
    font-size: 1.4rem;
    font-weight: bold;
    fill: #000;
    // text-transform: uppercase; /* 讓文字全大寫 */
    font-family: sans-serif;
    // font-family: "Oswald", "微軟正黑體", sans-serif;
    scale: 1 1.5;
    // letter-spacing: 1px; /* 調整字母間距 */
}