.btn__capsule {
	text-align: center;
	display: block;
	letter-spacing: 3px;
	width: max-content;
	color: #fff;
	padding: 0.8rem 1.5rem;
	background-color: var(--color-btn-navy);
	border-radius: 100px;
	margin-top: 3rem;
	font-family: "Oswald", "微軟正黑體", sans-serif;
	font-weight: lighter;
	font-size: 1.1rem;
	text-transform: uppercase;
	transition: background-color 300ms;
	transform: translateY(15%);
	&:hover {
		background-color: var(--color-btn-green);
	}
}

.btn_video {
	position: relative;
	display: inline-block;
	// opacity: 0.85;
    &::before {
        content: '';
        position: absolute;
        width: 2.25rem;
        height: 2.7rem;
        background: url(../img/icon/icon_play.png) no-repeat;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 5;
        pointer-events: none;
    }
	& > .btn_video-svg {
		position: relative;
		z-index: 1;
        opacity: .85;
		& > .line1,
		& > .line2 {
			transform: translate(5px, 5px);
		}
		& > .line2 {
			stroke-dashoffset: 110;
			stroke-dasharray: 360;
			transform-origin: center center;
			transform: rotate(-90deg) translate(5px, 5px);
		}
	}
	&:hover .line2 {
		animation: rotate_video_btn 1s linear forwards infinite;
	}
}
