.text_circle {
	margin: auto;
	text-align: center;
	width: 240px;
	aspect-ratio: 2 / 1.8;
	position: relative;
    transition: transform 1s, opacity 1s;
	transform: translateY(20%);
	opacity: 0;
	& > svg {
		margin-top: 1.3rem;
		position: relative;
		text-transform: uppercase;
		// font-weight: bold;
	}
	&::before {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background: url("../img/others/circleBg.png") no-repeat center;
		background-size: 76%;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	& > h2 {
		letter-spacing: 8px;
		text-indent: 8px;
		font-weight: 600;
		font-size: 35px;
		// background:url('../img/others/circleBg.png') no-repeat;
		background-image: linear-gradient(to left, #000 0%, #000 100%), linear-gradient(to left, #000 0%, #000 100%), linear-gradient(to left, #000 0%, #000 100%), linear-gradient(to left, #000 0%, #000 100%);
		background-size: 100% 2px, 100% 1px, 100% 1px, 100% 2px;
		background-position: left top, left top 4px, left bottom 4px, left bottom;
		background-repeat: no-repeat;
		padding-block: 0.9rem;
		margin-top: -0.8rem;
		position: relative;
	}
	& > em {
		font-size: 1.2rem;
		font-weight: bold;
		display: block;
		margin-top: 0.5rem;
		letter-spacing: -1px;
		position: relative;
	}
	&.fade_in {
        transform: translateY(0%);
	    opacity: 1;
	}
}
.yellow_circle {
	& > h2 {
		&::after,
		&::before {
			content: "";
			width: 1rem;
			height: 1.5px;
			background-color: #000;
			position: absolute;
			top: 50%;
		}
		&::after {
			right: -1.5rem;
		}
		&::before {
			left: -1.5rem;
		}
	}
}
.green_circle {
	transform: translateY(20%);
	opacity: 0;
	& > h2 {
		padding-block: 0.6rem;
		letter-spacing: 10px;
		text-indent: 10px;
	}
	& > em {
		font-size: 1.8rem;
		margin-top: 0.7rem;
	}
	width: 280px;
	aspect-ratio: 2 / 1.5;
	&::before {
		background: url("../img/others/circleBg02.png") no-repeat center;
		background-size: 65%;
	}
}
