/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/assets/styles/main.scss ***!
  \**********************************************************************************************************************/
@charset "UTF-8";
.fade_up {
  animation: fade_up 1s ease-in forwards var(--i);
}

@keyframes fade_up {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes rotate_video_btn {
  to {
    transform: rotate(360deg) translate(5px, 5px);
  }
}
@keyframes bounce {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  40% {
    transform: scale(0.6);
    opacity: 0.85;
  }
  70% {
    transform: scale(1.2);
    opacity: 0.85;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

main {
  padding-top: 120px;
}
@media (max-width: 1180px) {
  main {
    padding-top: 60px;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

text {
  font-size: 1.4rem;
  font-weight: bold;
  fill: #000;
  font-family: sans-serif;
  scale: 1 1.5;
}

:root {
  --color-primary:#004505;
  --color-grey:#626262;
  --color-nav-hover:#009944;
  --color-btn-green:#22ac38;
  --color-btn-navy:#344357;
}

header {
  position: fixed;
  height: 120px;
  width: 100%;
  z-index: 29;
  background-color: #fff;
  display: flex;
  align-items: center;
  transition: height 500ms;
}
header [type=checkbox],
header .menu_btn {
  display: none;
}
@media (max-width: 1180px) {
  header {
    flex-direction: column;
    height: 60px;
    box-shadow: 0 1.5px 6px #aaa;
  }
  header [type=checkbox] {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 30;
    opacity: 0;
    cursor: pointer;
  }
  header [type=checkbox]:checked + .menu_btn::after {
    transform: rotate(-135deg);
    translate: 0 -0.55rem;
  }
  header [type=checkbox]:checked + .menu_btn::before {
    transform: rotate(135deg);
    translate: 0 0.55rem;
  }
  header [type=checkbox]:checked + .menu_btn > span {
    opacity: 0;
  }
  header [type=checkbox]:checked ~ .nav-menu {
    transform: translateY(0px);
    opacity: 1;
    pointer-events: auto;
    padding-top: 0px;
  }
  header .menu_btn {
    --menu-btn-size: 60px;
    --menu-btn-line: 30px;
    width: var(--menu-btn-size);
    height: var(--menu-btn-size);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  header .menu_btn::after, header .menu_btn::before {
    content: "";
    display: block;
    background-color: var(--color-btn-navy);
    width: var(--menu-btn-line);
    height: 1px;
    transition: 1s;
  }
  header .menu_btn > span {
    display: block;
    margin-block: 0.5rem;
    width: var(--menu-btn-line);
    height: 1px;
    background-color: var(--color-btn-navy);
  }
}

@media (min-width: 1180px) {
  .nav {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .nav-hamburger {
    display: none;
  }
}
@media (min-width: 1180px) and (max-width: 1180px) {
  .nav {
    display: none;
  }
}
@media (min-width: 1180px) {
  .nav-logo {
    margin: auto;
    text-align: center;
    opacity: 0;
    transform: translateY(-2rem);
    transition: opacity 1.2s, transform 1.2s;
  }
  .nav-logo.fade_in {
    opacity: 1;
    transform: translateY(0);
  }
  .nav-menu {
    margin: auto;
    height: 100%;
    opacity: 0;
    transform: translateY(-2rem);
    transition: opacity 1.2s, transform 1.2s;
  }
  .nav-menu.fade_in {
    opacity: 1;
    transform: translateY(0);
  }
  .nav-item > a {
    display: block;
    line-height: 120px;
    padding-inline: 1.8rem 0.9rem;
    color: var(--color-primary);
    position: relative;
  }
  .nav-item > a > p, .nav-item > a > i {
    transition: 500ms;
  }
  .nav-item > a.current > p, .nav-item > a:hover > p {
    opacity: 0;
    transform: translateY(1rem);
  }
  .nav-item > a.current > .nav-text-en, .nav-item > a:hover > .nav-text-en {
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
  }
  .nav-item > a > .nav-text-en {
    position: absolute;
    top: 0%;
    transform: translateY(-15%);
    opacity: 0;
  }
  .nav-item > a > .nav-icon {
    opacity: 0;
    position: absolute;
    bottom: 10%;
    left: 0;
    transform: translateY(0%);
  }
  .nav-item > a.current > .nav-icon, .nav-item > a:hover > .nav-icon {
    opacity: 1;
    bottom: 50%;
    transform: translateY(50%);
  }
  .nav-dropdown-item {
    position: absolute;
    opacity: 0;
    top: 110%;
    transition: 500ms;
    pointer-events: none;
    width: 9.375rem;
  }
  .nav-dropdown-item.current {
    top: 100%;
    opacity: 1;
  }
  .nav-dropdown-item > li > a {
    width: 100%;
    display: inline-block;
    padding: 1rem 0.8rem;
    color: var(--color-grey);
    border-bottom: 1px solid #bababa;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .nav-dropdown-item > li > a:hover {
    background-color: var(--color-nav-hover);
    color: #fff;
  }
}
@media (max-width: 1180px) {
  .nav {
    display: none;
  }
  .nav-hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-height: 100vh;
  }
  .nav-hamburger > .map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    color: #fff;
    margin-block: 1.875rem;
  }
  .nav-hamburger .fa-location-dot {
    font-size: 20px;
  }
  .nav-logo {
    height: 100%;
    padding: 0.7rem;
  }
  .nav-logo > img {
    height: 100%;
  }
  .nav-menu {
    background-color: rgba(0, 153, 68, 0.9);
    width: 100%;
    padding-top: 80px;
    transition: padding 800ms, opacity 500ms;
    opacity: 0;
    pointer-events: none;
  }
  .nav-item {
    text-align: center;
    text-transform: uppercase;
    font-family: "微軟正黑體";
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
  }
  .nav-item a {
    display: block;
    width: 100%;
    color: #fff;
  }
  .nav-item a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .nav-item .nav-text-en {
    font-size: 0.8em;
    padding-bottom: 0.5rem;
    opacity: 0.7;
  }
  .nav-item > a {
    padding-block: 1rem;
    position: relative;
  }
  .nav-item > a > .fa-angle-down {
    font-size: 0.7rem;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
  .nav-dropdown {
    display: grid;
    grid-template-rows: min-content 0fr;
    transition: grid-template-rows 500ms;
  }
  .nav-dropdown.show {
    grid-template-rows: min-content 1fr;
  }
  .nav-dropdown-item {
    overflow: hidden;
    transition: 1s;
  }
  .nav-dropdown-item > li > a {
    padding-block: 0.8rem;
  }
}
footer {
  padding-block: 10.625rem;
  margin: auto;
  counter-reset: footer-counter;
  background-color: #f6f6f6;
  position: relative;
}
@media (max-width: 1080px) {
  footer {
    flex-direction: column;
    padding-block: 3.75rem;
  }
}
footer .fade {
  transition: 300ms;
  transform: translateY(20%);
  opacity: 0;
}

.footer__container {
  display: flex;
  width: 75rem;
  margin: 0 auto;
  flex-wrap: wrap;
}
@media (max-width: 1280px) {
  .footer__container {
    width: 100%;
    padding: 0 30px;
  }
}
@media (max-width: 1080px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
}
.footer__logo {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: 95px 70px;
  align-items: center;
  width: 360px;
}
@media (max-width: 1080px) {
  .footer__logo {
    justify-items: center;
  }
}
.footer__logo > :first-child {
  padding-bottom: 1rem;
  grid-column: 1/-1;
}
.footer__logo :nth-child(2) {
  max-width: 140px;
}
.footer__nav {
  flex: 2.5;
  margin: auto;
  padding-left: 7rem;
}
@media (max-width: 1080px) {
  .footer__nav {
    padding-left: 0;
    width: 80%;
    margin-top: 2rem;
  }
}
@media (max-width: 768px) {
  .footer__nav {
    width: 100%;
  }
}
.footer__nav-wrap {
  display: flex;
}
@media (max-width: 768px) {
  .footer__nav-wrap {
    flex-direction: column;
    gap: 3rem;
  }
}
.footer__nav-wrap li span {
  display: block;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 768px) {
  .footer__nav-wrap li span {
    margin-bottom: 0rem;
  }
}
.footer__nav-wrap > .nav_item::before {
  font-weight: 500;
  font-size: 60px;
  color: #ececec;
  font-family: "Oswald", "微軟正黑體", sans-serif;
  counter-increment: footer-counter;
  content: "0" counter(footer-counter);
  position: absolute;
  top: -3rem;
  z-index: -1;
}
.footer__nav-wrap > .nav_item {
  position: relative;
  flex: 1;
}
@media (max-width: 768px) {
  .footer__nav-wrap > .nav_item::after {
    content: "+";
    position: absolute;
    right: 1rem;
    top: 0;
    font-size: 1.5rem;
  }
}
.footer__nav-wrap > .nav_item > ul > li > a {
  display: block;
  margin-bottom: 1rem;
  font-size: 0.94rem;
  color: #626262;
  letter-spacing: 0.075em;
}
.footer__nav-wrap > .nav_item > ul > li > a:hover {
  color: var(--color-btn-green);
}
@media (max-width: 768px) {
  .footer__nav-wrap > .nav_item > ul {
    display: none;
  }
}
.footer__bottom {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 80px;
  font-size: 13px;
  letter-spacing: 0.05em;
  color: #9d9d9d;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .footer__bottom {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
.footer__bottom > .social {
  margin-left: 6.25rem;
  display: flex;
  gap: 2rem;
  opacity: 0.5;
}
@media (max-width: 768px) {
  .footer__bottom > .social {
    margin-left: 0;
    margin-bottom: 1.25rem;
  }
}
.footer__bottom > .social.fade {
  transform: translateY(20%);
  opacity: 0;
}

.banner {
  width: 100%;
}
.banner .swiper {
  position: relative;
}
.banner .swiper-wrapper {
  opacity: 0;
  transform: translateY(-2rem);
  transition: opacity 1.2s, transform 1.2s;
}
.banner .swiper-wrapper.fade_in {
  opacity: 1;
  transform: translateY(0);
}
.banner .swiper-slide {
  opacity: 1;
}
.banner .swiper-slide > .img_text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  max-width: 1000px;
  width: 100%;
  margin: auto;
  padding-left: 10%;
}
.banner .swiper-slide > .img_text > em {
  font-size: 3.125rem;
}
.banner .swiper-slide > .img_text > h3 {
  font-size: 3.4375rem;
  margin-bottom: 1.375rem;
  letter-spacing: 0.01em;
}
.banner .swiper-slide > .img_text > p {
  letter-spacing: 0.2em;
}
@media (max-width: 960px) {
  .banner .swiper-slide > .img_text > em {
    font-size: 2.5rem;
  }
  .banner .swiper-slide > .img_text > h3 {
    font-size: 2.8rem;
    margin-bottom: 0.7rem;
  }
}
@media (max-width: 768px) {
  .banner .swiper-slide > .img_text > em {
    font-size: 1.8rem;
  }
  .banner .swiper-slide > .img_text > h3 {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
  }
}
.banner .swiper-slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.banner .swiper-custom > .swiper-pagination.swiper-pagination-bullets {
  position: absolute;
  bottom: 5.6rem;
  bottom: 10%;
}
.banner .swiper .swiper-pagination.swiper-pagination-bullets > .swiper-pagination-bullet {
  background-color: #bfbfbf;
  margin: 0.9rem;
}
.banner .swiper .swiper-pagination.swiper-pagination-bullets > .swiper-pagination-bullet-active {
  background-color: #fff;
}
.banner .swiper .swiper-pagination-bullet-active,
.banner .swiper .swiper-pagination-bullets > .swiper-pagination-bullet {
  opacity: 1;
  width: 10px;
  height: 10px;
  position: relative;
}
.banner .swiper .swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px #fff solid;
}
.banner .swiper .swiper-arrow {
  opacity: 0;
  color: #1b1b1b;
  transition: 400ms;
}
.banner .swiper .swiper-arrow:hover {
  color: #fff;
}
.banner .swiper:hover .swiper-arrow {
  opacity: 1;
}
.banner .swiper .swiper-button-next {
  margin-right: 1.5rem;
}
.banner .swiper .swiper-button-prev {
  margin-left: 1.5rem;
}

.search {
  background-color: #eee;
  padding-block: 1.25rem;
  text-align: center;
}
.search__container {
  padding: 0 30px;
}
.search__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.search__wrap > input {
  width: 100%;
  outline: none;
  border: none;
  padding: 1rem;
  font-size: 1rem;
}
.search__wrap > button {
  outline: none;
  border: none;
  position: absolute;
  right: 1rem;
  background-color: transparent;
}
.search__tag {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.search__tag > li {
  padding: 0.4rem 0.8rem;
  border-radius: 1.6rem;
  background-color: var(--color-btn-green);
  color: #fff;
  cursor: pointer;
}
.search__tag > li:hover {
  background-color: var(--color-btn-navy);
}

.brand__area {
  width: 100%;
}
.brand__list {
  display: flex;
}
@media (max-width: 768px) {
  .brand__list {
    display: block;
  }
}
.brand__item {
  flex: 1 1;
  transition: 1s;
  position: relative;
  height: 42.5rem;
}
.brand__item:hover {
  flex: 1.8 1;
}
.brand__item:hover::after {
  opacity: 0;
}
.brand__item:hover .brand__text > button {
  cursor: pointer;
  color: #000;
}
@media (max-width: 1230px) {
  .brand__item {
    height: 21.875rem;
  }
  .brand__item:hover {
    flex: 1 1;
  }
  .brand__item:hover::after {
    opacity: 0.8;
  }
  .brand__item:hover .brand__text > button {
    color: var(--color-primary);
  }
}
@media (max-width: 768px) {
  .brand__item {
    position: relative;
    height: 25.5rem;
  }
}
.brand__item:first-of-type {
  background: url(/tomax_exercise/assets/images/bg01.0c106f4cae42ca667d89.jpg) no-repeat;
  background-position: left;
  background-size: cover;
}
.brand__item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  transition: 800ms;
}
.brand__item:first-of-type::after {
  background-color: #004505;
}
.brand__item:last-child {
  background: url(/tomax_exercise/assets/images/bg02.a54d6b452c51a9857e98.jpg) no-repeat;
  background-position: right;
  background-size: cover;
}
.brand__item:last-child::after {
  background-color: #ab1716;
}
.brand__item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.brand__text {
  color: #fff;
  position: absolute;
  top: 25%;
  left: 16%;
  font-size: 40px;
  z-index: 22;
}
@media (max-width: 1230px) {
  .brand__text {
    font-size: 30px;
  }
}
@media (max-width: 960px) {
  .brand__text {
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.brand__text > button {
  margin-top: 2.5rem;
  font-size: 20px;
  outline: none;
  border: none;
  background-color: #fff;
  color: var(--color-primary);
  padding: 1rem 3.5rem;
  border-radius: 2rem;
}

.btn__capsule {
  text-align: center;
  display: block;
  letter-spacing: 3px;
  width: max-content;
  color: #fff;
  padding: 0.8rem 1.5rem;
  background-color: var(--color-btn-navy);
  border-radius: 100px;
  margin-top: 3rem;
  font-family: "Oswald", "微軟正黑體", sans-serif;
  font-weight: lighter;
  font-size: 1.1rem;
  text-transform: uppercase;
  transition: background-color 300ms;
  transform: translateY(15%);
}
.btn__capsule:hover {
  background-color: var(--color-btn-green);
}

.btn_video {
  position: relative;
  display: inline-block;
}
.btn_video::before {
  content: "";
  position: absolute;
  width: 2.25rem;
  height: 2.7rem;
  background: url(/tomax_exercise/assets/images/icon_play.10ab4bfd78d2ee4c7aee.png) no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  pointer-events: none;
}
.btn_video > .btn_video-svg {
  position: relative;
  z-index: 1;
  opacity: 0.85;
}
.btn_video > .btn_video-svg > .line1, .btn_video > .btn_video-svg > .line2 {
  transform: translate(5px, 5px);
}
.btn_video > .btn_video-svg > .line2 {
  stroke-dashoffset: 110;
  stroke-dasharray: 360;
  transform-origin: center center;
  transform: rotate(-90deg) translate(5px, 5px);
}
.btn_video:hover .line2 {
  animation: rotate_video_btn 1s linear forwards infinite;
}

.recommend {
  --max-lines: 4;
  --line-height: 1.8;
  background-color: #f9f8f8;
  padding-top: 3rem;
  width: 100%;
}
.recommend__recipe {
  width: 93.5vw;
  padding-top: 2rem;
  display: flex;
  margin: auto;
}
@media (max-width: 960px) {
  .recommend__recipe {
    flex-direction: column;
    width: 94%;
  }
}
.recommend__recipe-area {
  margin-left: 3.75rem;
  min-width: 39.6875rem;
  display: block;
  position: relative;
  z-index: 1;
}
@media (max-width: 960px) {
  .recommend__recipe-area {
    margin: 0 auto;
    margin-top: 2rem;
    padding-bottom: 20rem;
  }
}
.recommend__recipe-area > .icon_play > a {
  opacity: 0.5;
  transform: translateY(10%);
  width: 100%;
  aspect-ratio: 1/0.69;
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/tomax_exercise/assets/images/%E5%A3%BD%E5%96%9C%E7%87%92.54e97eed506c578daa8e.jpg) no-repeat center;
  background-size: contain;
  position: relative;
  z-index: 1;
  transition: transform 1s, opacity 1.5s;
}
.recommend__recipe-area.fade_in > .icon_play > a, .recommend__recipe-area.fade_in > article {
  opacity: 1;
  transform: translateY(0%);
}
.recommend__recipe-area > article {
  flex: 1;
  width: 28.5rem;
  position: absolute;
  z-index: 5;
  right: 2.5rem;
  top: 24rem;
  background-color: #fff;
  padding: 3.5rem 4.5rem;
  text-align: left;
  outline: 0.7rem solid rgba(255, 255, 255, 0.5);
  transition: transform 2s 100ms, opacity 2s 100ms;
  opacity: 0;
  transform: translateY(10%);
}
@media (max-width: 768px) {
  .recommend__recipe-area > article {
    left: 50%;
    transform: translate(-50%, 0%) !important;
  }
}
.recommend__recipe-area > article > p {
  line-height: 1.8;
  font-size: 15px;
  color: #626262;
  letter-spacing: 0.05em;
}
.recommend__recipe-area > article > a:has(h4) {
  color: #263149;
  display: block;
  font-size: 1.375rem;
  letter-spacing: 2.5px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.recommend__recipe-area::before {
  content: "";
  background: url(/tomax_exercise/assets/images/circleBg02.0da2cf0c8c9da64a16b7.png);
  width: 160px;
  height: 160px;
  background-size: cover;
  position: absolute;
  right: -2rem;
  top: 22rem;
  z-index: -5;
}
@media (max-width: 768px) {
  .recommend__recipe-area::before {
    display: none;
  }
}
.recommend__recipe-area.fade_in .recipe_circle {
  transform: translateX(0%);
  opacity: 1;
}
.recommend__recipe-area > .recipe_circle {
  width: 180px;
  height: 180px;
  background: url(/tomax_exercise/assets/images/circleBg02.0da2cf0c8c9da64a16b7.png) no-repeat;
  background-size: contain;
  position: absolute;
  left: -0.1rem;
  top: 31.6rem;
  z-index: -5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  transition: transform 2s 300ms, opacity 1.5s 100ms;
  opacity: 0;
  transform: translateX(50%);
}
.recommend__recipe-area > .recipe_circle > :first-child {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  font-family: "Oswald", "微軟正黑體", sans-serif;
  margin-bottom: 1rem;
}
.recommend__recipe-area > .recipe_circle > :last-child {
  width: 55%;
  text-align: left;
  font-size: 1.4rem;
}
@media (max-width: 768px) {
  .recommend__recipe-area > .recipe_circle {
    display: none;
  }
}
.recommend__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.8rem;
  transform: translateY(-6%);
  opacity: 0.5;
  transition: transform 1s, opacity 1.5s;
  font-family: "Noto Sans TC";
  width: 100%;
}
.recommend__grid.fade_in {
  transform: translateY(0%);
  opacity: 1;
}
@media (max-width: 1180px) {
  .recommend__grid {
    height: 100%;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 960px) {
  .recommend__grid {
    display: none;
  }
}
.recommend__grid .grid-slide {
  cursor: pointer;
  width: 100%;
  container-type: inline-size;
  container-name: grid-container;
}
.recommend__grid .grid-slide:hover .grid-slide-mask::after {
  margin-top: 0%;
  opacity: 1;
}
.recommend__grid .grid-slide:hover .mask-desc {
  padding-bottom: 0rem;
  opacity: 1;
}
@media (max-width: 1180px) {
  .recommend__grid .grid-slide:nth-child(-n+2) {
    display: none;
  }
}
.recommend__grid .grid-slide > p {
  margin-block: 1.5rem;
  letter-spacing: 0.12rem;
  font-size: 1.1rem;
  text-align: center;
  font-size: 1.125rem;
  color: #4f5c67;
  line-height: var(--line-height);
}
.recommend .grid-slide-mask {
  position: relative;
  color: #fff;
}
.recommend .grid-slide-mask::after {
  content: "";
  position: absolute;
  margin-top: 30%;
  opacity: 0;
  background-color: rgba(16, 34, 50, 0.95);
  inset: 0;
  z-index: 1;
  transition: margin-top 500ms, opacity 500ms;
}
.recommend .grid-slide-mask > img {
  width: 100%;
  position: relative;
  z-index: 1;
}
.recommend .grid-slide-mask > .mask-desc {
  position: absolute;
  inset: 0;
  z-index: 2;
  margin: auto;
  padding-inline: 35px;
  padding-bottom: 3rem;
  opacity: 0;
  transition: padding-bottom 500ms, opacity 500ms;
  line-height: var(--line-height);
  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  text-overflow: ellipsis;
  align-items: center;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
  line-clamp: var(--max-lines);
}

.recommend__swiper {
  display: none;
  text-align: center;
}
@media (max-width: 960px) {
  .recommend__swiper {
    display: block;
    position: relative;
  }
  .recommend__swiper .recommend-btn-prev::after,
  .recommend__swiper .recommend-btn-next::after {
    font-size: 40px;
    color: #1b1b1b;
  }
  .recommend__swiper .recommend-btn-prev {
    left: 0;
  }
  .recommend__swiper .recommend-btn-next {
    right: 0;
  }
}
.recommend__swiper .swiper-slide {
  padding: 0 30px;
  cursor: pointer;
}
.recommend__swiper .swiper-slide:hover .grid-slide-mask::after {
  margin-top: 0%;
  opacity: 1;
}
.recommend__swiper .swiper-slide:hover .mask-desc {
  padding-bottom: 0rem;
  opacity: 1;
}
.recommend__swiper .swiper-slide > p {
  margin-block: 1.5rem;
  letter-spacing: 0.12rem;
  font-size: 1.1rem;
  font-size: 1.125rem;
  color: #4f5c67;
}

.quality {
  padding-top: 10rem;
  padding-bottom: 7rem;
  background-color: #f9f8f8;
  width: 100%;
}
.quality__bg {
  background: #fff;
  margin: 0 auto;
  width: calc(100% - 130px);
  padding-top: 6.5625rem;
  padding-bottom: 13.5rem;
  padding-inline: 1.875rem;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1180px) {
  .quality__bg {
    width: calc(100% - 60px);
  }
}
.quality__bg .yellow_circle {
  position: relative;
  z-index: 1;
}
.quality__text {
  text-align: center;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  position: relative;
  z-index: 1;
}
.quality__text :first-of-type {
  font-size: 1.5625rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.quality__text :nth-of-type(2), .quality__text :nth-of-type(3) {
  letter-spacing: -0.9px;
  line-height: 1.8;
}
.quality__swiper {
  position: relative;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 960px) {
  .quality__swiper {
    padding-inline: 20px;
    overflow-x: hidden;
  }
}
.quality__swiper-container {
  width: 56.875rem;
  margin: 0 auto;
}
@media (max-width: 1180px) {
  .quality__swiper-container {
    width: 100%;
  }
}
.quality__swiper .quantity-btn-prev::after,
.quality__swiper .quantity-btn-next::after {
  font-size: 40px;
  color: #1b1b1b;
}
.quality__swiper .quantity-btn-prev {
  left: 0;
}
.quality__swiper .quantity-btn-next {
  right: 0;
}
.quality .swiper-slide {
  text-align: center;
  padding-inline: 1.25rem;
  transform: translateY(20%);
  opacity: 0;
}
.quality .swiper-slide:nth-of-type(1) .swiper-item {
  background-color: #53b544;
}
.quality .swiper-slide:nth-of-type(2) .swiper-item {
  background-color: #638c0b;
}
.quality .swiper-slide:nth-of-type(3) .swiper-item {
  background-color: #32b16c;
}
.quality .swiper-slide:nth-of-type(4) .swiper-item {
  background-color: #80b118;
}
.quality .swiper-slide .swiper-item {
  aspect-ratio: 1;
}
.quality .swiper-item {
  border-radius: 50%;
  margin: auto;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  letter-spacing: 2px;
}
.quality .swiper-item > img {
  max-width: 35%;
  max-height: 35%;
}
.quality .quality_img {
  position: absolute;
  transition: 2s;
}
.quality .img_left.fade_in {
  transform: translate(0px, 0px);
}
.quality .img_left {
  width: 100%;
  height: 100%;
  top: 0rem;
  left: 0rem;
  transform: translate(-100px, -100px);
}
.quality .img_left img {
  position: absolute;
}
.quality .img_left img:nth-of-type(1) {
  top: -4.5rem;
  left: 5rem;
}
.quality .img_left img:nth-of-type(2) {
  top: 20rem;
  left: 5.2rem;
}
.quality .img_left img:nth-of-type(3) {
  top: 21rem;
  left: 15rem;
}
@media (max-width: 1180px) {
  .quality .img_left img:nth-of-type(1) {
    width: 16.25rem;
    top: -4.5rem;
    left: 0.5rem;
  }
  .quality .img_left img:nth-of-type(2) {
    width: 5.625rem;
    top: 17.5rem;
    left: 0.2rem;
  }
  .quality .img_left img:nth-of-type(3) {
    display: none;
  }
}
@media (max-width: 960px) {
  .quality .img_left img:nth-of-type(1) {
    width: 12.5rem;
    left: 0rem;
  }
  .quality .img_left img:nth-of-type(2) {
    width: 4.375rem;
    top: 12rem;
    left: 0rem;
  }
}
@media (max-width: 768px) {
  .quality .img_left img:nth-of-type(1) {
    width: 10.625rem;
  }
  .quality .img_left img:nth-of-type(2) {
    width: 3.4375rem;
    top: 9.5rem;
  }
}
.quality .img_right.fade_in {
  transform: translate(0px, 0px);
}
.quality .img_right {
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  transform: translate(50px, -50px);
}
.quality .img_right img {
  position: absolute;
}
.quality .img_right img:nth-of-type(1) {
  top: 4rem;
  right: 0rem;
}
.quality .img_right img:nth-of-type(2) {
  top: -6rem;
  right: 10.5rem;
}
@media (max-width: 1180px) {
  .quality .img_right img:nth-of-type(1) {
    width: 25rem;
  }
  .quality .img_right img:nth-of-type(2) {
    right: 1.5rem;
  }
}
@media (max-width: 960px) {
  .quality .img_right img:nth-of-type(1) {
    width: 23.75rem;
    top: 0rem;
  }
  .quality .img_right img:nth-of-type(2) {
    display: none;
  }
}
@media (max-width: 768px) {
  .quality .img_right img:nth-of-type(1) {
    width: 18.75rem;
  }
}
.quality .img_bottom {
  bottom: -10rem;
  left: 50%;
  transform: translate(-50%, 10%);
  opacity: 0.5;
}
.quality .img_bottom.fade_in {
  transform: translate(-50%, 0%);
  opacity: 1;
}

.about {
  position: relative;
  min-height: 55rem;
  position: relative;
  background-color: #f9f8f8;
  transition: opacity 4s;
  opacity: 0;
}
.about.fade_in .about__wrap::after {
  border-width: 0rem;
}
.about.fade_in {
  opacity: 1;
}
.about__wrap {
  margin: auto;
  position: relative;
  z-index: 5;
  height: 100%;
  width: min(87rem, 100%);
}
.about__wrap::after {
  content: "";
  position: absolute;
  inset: 0;
  border: #fff 3.75rem solid;
  transition: 1.5s ease-in;
}
.about__wrap.fade_in::after {
  border-width: 0rem;
}
.about__bg {
  background: url(/tomax_exercise/assets/images/bg03.90987aca3bf2fbb6939f.jpg);
  background-position: center;
  width: 100%;
  height: 100%;
  padding-block: 10rem;
  padding-inline: 8%;
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 1230px) {
  .about__bg {
    width: 100%;
    padding-inline: 4%;
  }
}
.about__bg article {
  flex: 1;
  position: relative;
  background-color: #fff;
  padding: 6.25rem 3.75rem;
  text-align: left;
  outline: 0.7rem solid rgba(255, 255, 255, 0.5);
}
@media (max-width: 1230px) {
  .about__bg article {
    flex: 1.1;
  }
}
@media (max-width: 1080px) {
  .about__bg article {
    flex: none;
    width: 40rem;
  }
}
@media (max-width: 768px) {
  .about__bg article {
    width: 100%;
    text-align: center;
  }
}
.about__bg article > h2 {
  margin-bottom: 70px;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.5;
  font-family: "Noto Sans TC";
  letter-spacing: 0.075em;
  transform: translateY(20%);
  opacity: 0;
}
.about__bg article > h2 > span {
  font-size: 2.9rem;
  font-weight: bold;
}
.about__bg article > p {
  letter-spacing: 0.05em;
  line-height: 1.8;
  transform: translateY(20%);
  opacity: 0;
}
.about__bg article .about__circle {
  position: absolute;
  top: 3.5rem;
  left: 18rem;
  z-index: 2;
  width: 195px;
  height: 195px;
  padding: 53px 0 0 40px;
  font-size: 25px;
  font-family: "Oleo Script", "微軟正黑體", cursive;
  white-space: nowrap;
  background: url(/tomax_exercise/assets/images/circleBg.53e22590d3f0e3ae9865.png) no-repeat;
  background-size: contain;
  transform: translateY(20%);
  opacity: 0;
}
@media (max-width: 768px) {
  .about__bg article .about__circle {
    display: none;
  }
}
.about__bg article .about__circle > em {
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
  margin-top: 0.5rem;
  letter-spacing: -0.5px;
  font-family: serif;
}
.about__bg .about__video {
  flex: 1;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
}
@media (max-width: 1080px) {
  .about__bg .about__video {
    display: none;
  }
}
.about__bg .about__video.fade_in {
  animation: bounce 2s forwards cubic-bezier(0.45, 1.29, 0.51, -0.26);
}
.about__bg .about__video.fade_in::before, .about__bg .about__video.fade_in::after {
  opacity: 1;
}
.about__bg .about__video::after {
  background: url(/tomax_exercise/assets/images/watchVideo.0546439fa51640cc0632.png);
  top: 3.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 16rem;
  height: 8.3rem;
  z-index: -1;
  opacity: 0;
}
.about__bg .about__video::before, .about__bg .about__video::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}
.about__btn {
  display: flex;
  gap: 1rem;
  transform: translateY(20%);
  opacity: 0;
}
.about__btn .video_btn {
  display: none;
}
@media (max-width: 1080px) {
  .about__btn .video_btn {
    display: block;
  }
}
@media (max-width: 768px) {
  .about__btn {
    justify-content: center;
  }
}

.newsletter {
  background-color: #fff;
  padding-block: 4.8rem;
}
.newsletter__wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.newsletter__wrap::before {
  background: url(/tomax_exercise/assets/images/emailAreaLeft.b79b04f5402f3ca63fe3.png) no-repeat center;
  left: 0;
  transform: translateX(-15%);
}
.newsletter__wrap.fade_in::before {
  opacity: 1;
  transform: translateX(0);
}
.newsletter__wrap::after {
  background: url(/tomax_exercise/assets/images/emailAreaRight.602e109d8a228a67303e.png) no-repeat center;
  right: 0;
  transform: translateX(15%);
}
.newsletter__wrap.fade_in::after {
  opacity: 1;
  transform: translateX(0);
}
@media (max-width: 1180px) {
  .newsletter__wrap::after, .newsletter__wrap::before {
    display: none;
  }
}
.newsletter__wrap::before, .newsletter__wrap::after {
  content: "";
  width: 23.125rem;
  height: 10rem;
  position: absolute;
  top: 6rem;
  background-size: cover;
  transition: transform 2s 800ms, opacity 2s 800ms;
  opacity: 0;
}

.text_circle {
  margin: auto;
  text-align: center;
  width: 240px;
  aspect-ratio: 2/1.8;
  position: relative;
  transition: transform 1s, opacity 1s;
  transform: translateY(20%);
  opacity: 0;
}
.text_circle > svg {
  margin-top: 1.3rem;
  position: relative;
  text-transform: uppercase;
}
.text_circle::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url(/tomax_exercise/assets/images/circleBg.53e22590d3f0e3ae9865.png) no-repeat center;
  background-size: 76%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.text_circle > h2 {
  letter-spacing: 8px;
  text-indent: 8px;
  font-weight: 600;
  font-size: 35px;
  background-image: linear-gradient(to left, #000 0%, #000 100%), linear-gradient(to left, #000 0%, #000 100%), linear-gradient(to left, #000 0%, #000 100%), linear-gradient(to left, #000 0%, #000 100%);
  background-size: 100% 2px, 100% 1px, 100% 1px, 100% 2px;
  background-position: left top, left top 4px, left bottom 4px, left bottom;
  background-repeat: no-repeat;
  padding-block: 0.9rem;
  margin-top: -0.8rem;
  position: relative;
}
.text_circle > em {
  font-size: 1.2rem;
  font-weight: bold;
  display: block;
  margin-top: 0.5rem;
  letter-spacing: -1px;
  position: relative;
}
.text_circle.fade_in {
  transform: translateY(0%);
  opacity: 1;
}

.yellow_circle > h2::after, .yellow_circle > h2::before {
  content: "";
  width: 1rem;
  height: 1.5px;
  background-color: #000;
  position: absolute;
  top: 50%;
}
.yellow_circle > h2::after {
  right: -1.5rem;
}
.yellow_circle > h2::before {
  left: -1.5rem;
}

.green_circle {
  transform: translateY(20%);
  opacity: 0;
  width: 280px;
  aspect-ratio: 2/1.5;
}
.green_circle > h2 {
  padding-block: 0.6rem;
  letter-spacing: 10px;
  text-indent: 10px;
}
.green_circle > em {
  font-size: 1.8rem;
  margin-top: 0.7rem;
}
.green_circle::before {
  background: url(/tomax_exercise/assets/images/circleBg02.0da2cf0c8c9da64a16b7.png) no-repeat center;
  background-size: 65%;
}
/*!**********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/swiper/swiper.css ***!
  \**********************************************************************************/
/**
 * Swiper 11.2.5
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2025 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: March 3, 2025
 */

/* FONT_START */
@font-face {
  font-family: 'swiper-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal;
}
/* FONT_END */
:root {
  --swiper-theme-color: #007aff;
  /*
  --swiper-preloader-color: var(--swiper-theme-color);
  --swiper-wrapper-transition-timing-function: initial;
  */
}
:host {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  display: block;
}
.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}
.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}
.swiper-horizontal {
  touch-action: pan-y;
}
.swiper-vertical {
  touch-action: pan-x;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}
.swiper-slide-invisible-blank {
  visibility: hidden;
}
/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}
.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
/* 3D Effects */
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}
.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}
.swiper-3d {
  perspective: 1200px;
}
.swiper-3d .swiper-slide,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}
/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}
.swiper-css-mode.swiper-horizontal > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}
.swiper-css-mode.swiper-vertical > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper {
  scroll-snap-type: none;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: none;
}
.swiper-css-mode.swiper-centered > .swiper-wrapper::before {
  content: '';
  flex-shrink: 0;
  order: 9999;
}
.swiper-css-mode.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}
.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}
.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}
/* Slide styles start */
/* 3D Shadows */
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}
.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s infinite linear;
}
.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}
.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}
@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Slide styles end */

/*!**********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/swiper/modules/navigation.css ***!
  \**********************************************************************************************/
:root {
  --swiper-navigation-size: 44px;
  /*
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: var(--swiper-theme-color);
  */
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev.swiper-button-hidden,
.swiper-button-next.swiper-button-hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}
.swiper-navigation-disabled .swiper-button-prev,
.swiper-navigation-disabled .swiper-button-next {
  display: none !important;
}
.swiper-button-prev svg,
.swiper-button-next svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform-origin: center;
}
.swiper-rtl .swiper-button-prev svg,
.swiper-rtl .swiper-button-next svg {
  transform: rotate(180deg);
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 10px);
  right: auto;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;
}
.swiper-button-lock {
  display: none;
}
/* Navigation font start */
.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: 'prev';
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: 'next';
}
/* Navigation font end */

/*!**********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/swiper/modules/pagination.css ***!
  \**********************************************************************************************/
:root {
  /*
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: rgba(0,0,0,0.25);
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-border-radius: 50%;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  */
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
.swiper-pagination-disabled > .swiper-pagination,
.swiper-pagination.swiper-pagination-disabled {
  display: none !important;
}
/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}
/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33);
}
.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
          appearance: none;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-bullet:only-child {
  display: none !important;
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}
.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
  right: var(--swiper-pagination-right, 8px);
  left: var(--swiper-pagination-left, auto);
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block;
}
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 200ms transform,
        200ms top;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}
.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform,
        200ms left;
}
.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform,
    200ms right;
}
/* Fraction */
.swiper-pagination-fraction {
  color: var(--swiper-pagination-fraction-color, inherit);
}
/* Progress */
.swiper-pagination-progressbar {
  background: var(--swiper-pagination-progressbar-bg-color, rgba(0, 0, 0, 0.25));
  position: absolute;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}
.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top;
}
.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: var(--swiper-pagination-progressbar-size, 4px);
  left: 0;
  top: 0;
}
.swiper-vertical > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite {
  width: var(--swiper-pagination-progressbar-size, 4px);
  height: 100%;
  left: 0;
  top: 0;
}
.swiper-pagination-lock {
  display: none;
}

/*!****************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/swiper/modules/grid.css ***!
  \****************************************************************************************/
.swiper-grid > .swiper-wrapper {
  flex-wrap: wrap;
}
.swiper-grid-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}

