header {
	position: fixed;
	height: 120px;
	width: 100%;
	// margin: 0 auto;
	z-index: 29;
	background-color: #fff;
	display: flex;
	align-items: center;
	transition: height 500ms;
    & [type="checkbox"],.menu_btn{
        display: none;
    }
	@media (max-width: 1180px) {
		flex-direction: column;
		height: 60px;
        
        box-shadow: 0 1.5px 6px #aaa;
        & [type="checkbox"]{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 60px;
            height: 60px;
            z-index: 30;
            opacity: 0;
            cursor: pointer;
            &:checked+.menu_btn::after{
                transform: rotate(-135deg) ;
                translate: 0 -.55rem;
            }
            &:checked+.menu_btn::before{
                transform: rotate(135deg) ;
                translate: 0 .55rem;
            }
            &:checked+.menu_btn > span{
                opacity: 0;
            }
            &:checked ~ .nav-menu {
                transform: translateY(0px);
                opacity: 1;
                pointer-events: auto;
                padding-top: 0px;
            }
        }
        .menu_btn {
            width: 60px;
            height: 60px;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &::after,&::before{
                content: '';
                display: block;
                background-color: rgb(119, 57, 57);
                width: 35px;
                height: 1px;
                transition: 1000ms;

            }
            & > span{
                display: block;
                margin-block: 0.5rem;;
                width: 35px;
                height: 1px;
                background-color: rgb(188, 36, 36);
            }
       
            // &:hover::after{
            //     transform: rotate(-135deg) ;
            //     translate: 0 -.55rem;
            // }
            // &:hover::before{
            //     transform: rotate(135deg) ;
            //     translate: 0 .55rem;
            // }
        }
	}
}
@media (min-width: 1180px) {
	.nav {
		display: flex;
		width: 100%;
		height: 100%;
		// width: 100vw;
		align-items: center;
		justify-content: center;
		&-hamburger {
			display: none;
		}
		@media (max-width: 1180px) {
			display: none;
			// 	flex-direction: column;
			// 	position: absolute;
			//     top: 60px;
			// 	left: 0;
			//     height: max-content;
		}
		&-logo {
			margin: auto;
			text-align: center;
			@media (max-width: 1180px) {
				// height: 100%;
				// padding: 0.7rem;
				// // line-height: 38px;
				// background-color: aqua;
				// & > img {
				// 	// display: block;
				// 	// object-fit: cover;
				// 	height: 100%;
				// }
			}
		}
		&-menu {
			margin: auto;
			height: 100%;
			@media (max-width: 1180px) {
				// background-color: tomato;
				// position: relative;
				// height: 500px;
				// width: 100%;
				// top: 0;
				// left: 0;
			}
		}
		&-item > a {
			display: block;
			line-height: 120px;
			padding-inline: 1.8rem 0.9rem;
			color: var(--color-primary);
			position: relative;
		}
		&-item > a > p,
		&-item > a > i {
			transition: 500ms;
		}
		&-item > a.current > p,
		&-item > a:hover > p {
			opacity: 0;
			transform: translateY(1rem);
		}
		&-item > a.current > &-text-en,
		&-item > a:hover > &-text-en {
			top: 50%;
			transform: translateY(-50%);
			opacity: 1;
		}
		&-item > a > &-text-en {
			position: absolute;
			top: 0%;
			transform: translateY(-15%);
			opacity: 0;
		}
		&-item > a > &-icon {
			opacity: 0;
			position: absolute;
			bottom: 10%;
			left: 0;
			transform: translateY(0%);
		}
		&-item > a.current > .nav-icon,
		&-item > a:hover > .nav-icon {
			opacity: 1;

			bottom: 50%;
			transform: translateY(50%);
		}
		&-dropdown-item {
			position: absolute;
			opacity: 0;
			top: 110%;
			transition: 500ms;
			pointer-events: none;
			&.current {
				top: 100%;
				opacity: 1;
			}
			& > li > a {
				display: inline-block;
				padding: 1rem 0.8rem;
				color: var(--color-grey);
				border-bottom: 1px solid #bababa;
				background-color: rgba(255, 255, 255, 0.9);
				&:hover {
					background-color: var(--color-nav-hover);
					color: #fff;
				}
			}
		}
	}
}

@media (max-width: 1180px) {
	.nav {
		display: none;
		&-hamburger {
			display: flex;
			flex-direction: column;
			align-items: center;
		
            
			& > .map {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 46px;
				height: 46px;
				background-color: rgba(255, 255, 255, 0.2);
				border-radius: 50%;
				color: #fff;
				margin-block: 1.875rem;
			}
			& .fa-location-dot {
				font-size: 20px;
			}
		}
		&-logo {
			height: 100%;
			padding: 0.7rem;
			& > img {
				height: 100%;
			}
		}
		&-menu {
			background-color: rgba(0, 153, 68, 0.9);
			width: 100%;
            // transform: translateY(30px);
            padding-top: 80px;
            transition: padding 800ms,opacity 500ms;;
            // transition: 2s;
            opacity: 0;
            pointer-events: none;
		}
		&-item {
			text-align: center;
			text-transform: uppercase;
			font-family: "微軟正黑體";
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			width: 100%;
			& a {
				display: block;
				width: 100%;
				color: #fff;
				&:hover {
					background-color: rgba(255, 255, 255, 0.2);
				}
			}
			& .nav-text-en {
				font-size: 0.8em;
				padding-bottom: 0.5rem;
				opacity: 0.7;
			}
			& > a {
				padding-block: 1rem;
				position: relative;

				& > .fa-angle-down {
					font-size: 0.7rem;
					position: absolute;
					right: 1rem;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
		&-dropdown {
			display: grid;
			grid-template-rows: min-content 0fr;
			transition: grid-template-rows 500ms;
			&.show {
				grid-template-rows: min-content 1fr;
			}
		}

		&-dropdown-item {
			overflow: hidden;
			transition: 1s;

			& > li {
				& > a {
					padding-block: 0.8rem;
				}
			}
		}
	}
}
