@use '../../abstracts/mixins' as *;
.quality {
	padding-top: 10rem;
	padding-bottom: 7rem;
	background-color: #f9f8f8;
	width: 100%;
	&__bg {
		background: #fff;
		margin: 0 auto;
		width: calc(100% - 130px);
		padding-top: 6.5625rem;
		padding-bottom: 13.5rem;
		padding-inline: 1.875rem;
		// width: 100%;
		position: relative;
		overflow: hidden;
		@media (max-width: 1180px) {
			width: calc(100% - 60px);
		}
		.yellow_circle {
			position: relative;
			z-index: 1;
		}
	}
	&__text {
		text-align: center;
		margin-top: 3.5rem;

		margin-bottom: 3.5rem;
		// background-color: #bfa;
		position: relative;
		z-index: 1;
		& :first-of-type {
			font-size: 1.5625rem;
			font-weight: bold;
			margin-bottom: 2rem;
		}
		& :nth-of-type(2),
		& :nth-of-type(3) {
			letter-spacing: -0.9px;
			line-height: 1.8;
		}
	}
	&__swiper {
		position: relative;
		// width: 100%;
		// width: 910px;
		width: 100%;
		// width: calc(100% - 100px);

		// margin: 0 auto;
		overflow: hidden;
		@media (max-width: 960px) {
			padding-inline: 20px;
			overflow-x: hidden;
		}
		&-container {
			width: 56.875rem;
			margin: 0 auto;
			@media (max-width: 1180px) {
				width: 100%;
			}
		}
		.quantity-btn-prev::after,
		.quantity-btn-next::after {
			font-size: 40px;
			color: #1b1b1b;
		}
		.quantity-btn-prev {
			left: 0;
		}
		.quantity-btn-next {
			right: 0;
		}
	}
	.swiper {
		&-slide {
			// width: 120%;
			text-align: center;
			padding-inline: 1.25rem;
			transform: translateY(20%);
			opacity: 0;
			&:nth-of-type(1) .swiper-item {
				background-color: #53b544;
			}
			&:nth-of-type(2) .swiper-item {
				background-color: #638c0b;
			}
			&:nth-of-type(3) .swiper-item {
				background-color: #32b16c;
			}
			&:nth-of-type(4) .swiper-item {
				background-color: #80b118;
			}
			.swiper-item {
				aspect-ratio: 1;
				// width: 12rem;
				// height: 12rem;
			}
		}
		&-item {
			border-radius: 50%;
			margin: auto;
			color: #fff;
            @include flexLayout;
			flex-direction: column;
			gap: 1rem;
			letter-spacing: 2px;

			& > img {
				max-width: 35%;
				max-height: 35%;
			}
		}
	}
	.quality_img {
		position: absolute;
		transition: 2s;
	}
	.img {
		&_left.fade_in {
			transform: translate(0px, 0px);
		}

		&_left {
			width: 100%;
			height: 100%;
			// padding: 5rem;
			top: 0rem;
			left: 0rem;
			transform: translate(-100px, -100px);

			& img {
				position: absolute;
			}
			& img:nth-of-type(1) {
				top: -4.5rem;
				left: 5rem;
			}
			& img:nth-of-type(2) {
				top: 20rem;
				left: 5.2rem;
			}
			& img:nth-of-type(3) {
				top: 21rem;
				left: 15rem;
			}
			@media (max-width: 1180px) {
				& img:nth-of-type(1) {
					width: 16.25rem;
					top: -4.5rem;
					left: 0.5rem;
				}
				& img:nth-of-type(2) {
					width: 5.625rem;
					top: 17.5rem;

					left: 0.2rem;
				}
				& img:nth-of-type(3) {
					display: none;
				}
			}
			@media (max-width: 960px) {
				& img:nth-of-type(1) {
					width: 12.5rem;
					// top: -4.5rem;
					left: 0rem;
				}
				& img:nth-of-type(2) {
					width: 4.375rem;
					top: 12rem;
					left: 0rem;
				}
			}
			@media (max-width: 768px) {
				& img:nth-of-type(1) {
					width: 10.625rem;
				}
				& img:nth-of-type(2) {
					width: 3.4375rem;
					top: 9.5rem;
				}
			}
		}
		&_right.fade_in {
			transform: translate(0px, 0px);
		}
		&_right {
			width: 100%;
			height: 100%;
			right: 0;
			top: 0;
			transform: translate(50px, -50px);

			& img {
				position: absolute;
			}
			& img:nth-of-type(1) {
				top: 4rem;
				right: 0rem;
			}
			& img:nth-of-type(2) {
				top: -6rem;
				right: 10.5rem;
			}
			@media (max-width: 1180px) {
				& img:nth-of-type(1) {
					width: 25rem;
				}
				& img:nth-of-type(2) {
					// top: -6rem;
					right: 1.5rem;
				}
			}
			@media (max-width: 960px) {
				& img:nth-of-type(1) {
					width: 23.75rem;
					top: 0rem;
				}
				& img:nth-of-type(2) {
					display: none;
				}
			}
			@media (max-width: 768px) {
				& img:nth-of-type(1) {
					width: 18.75rem;
				}
			}
		}
		&_bottom {
			bottom: -10rem;
			left: 50%;
			transform: translate(-50%, 10%);
			opacity: 0.5;
			// & img{
			//     position: absolute;
			// }
			&.fade_in {
				transform: translate(-50%, 0%);
				opacity: 1;
				// transform: translate(0px,0px);
			}
		}
	}
}
